@model DualGlobe.ERP.Models.EmployeeModel
       
@{
    ViewBag.Title = "SDL Report";
    Layout = "~/Views/Shared/_PrintPdfLayout.cshtml";
}

<!-- info row -->
<div class="row invoice-info">
    <div class="col-sm-6 invoice-col">
        <h3>
            SDL Report
        </h3>
    </div>
</div>
<!-- /.row -->
<!-- Table row -->
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <table id="tblClient" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Employee Name</th>
                            <th>Work Status/th>
                            <th>SDL Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.SalaryArray != null && Model.SalaryArray.Length > 0)
                        {
                            for (int i = 0; i < Model.SalaryArray.Count(); i++)
                            {
                            <tr>
                                <td>@Model.SalaryArray[i].EmployeeId</td>
                                <td>@Model.SalaryArray[i].EmployeeName</td>
                                <td>@Model.SalaryArray[i].WorkStatus</td>
                                <td style="text-align:right;">@String.Format("{0:n}", Model.SalaryArray[i].SDL)</td>
                            </tr>
                            }
                        }
                    </tbody>

                </table>



            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

<!-- /.row -->
